<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vishtechno.bkm.quickscreenshotcapture">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ArrangeImageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SR_Setting_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Video_Player"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BlurActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Image_Crop2"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateTextActivity2"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StickerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DrawLayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Image_Crop"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditImageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StitchEditActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VISHTECHNO_StartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VISHTECHNO_MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VISHTECHNO_ScreenCaptureActivity"
            android:excludeFromRecents="true"
            android:theme="@style/ActTransparent" />
        <activity
            android:name=".RecordTransData"
            android:excludeFromRecents="true"
            android:theme="@style/ActTransparent" />
        <activity
            android:name=".VISHTECHNO_ShowDialogActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VISHTECHNO_MyCreation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VISHTECHNO_Share_DeleteActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".VISHTECHNO_Privacy_policy"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ImageFolderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Exit"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/YOUR_ADMOB_APP_ID" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="vishtechno.bkm.quickscreenshotcapture.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
<!--        <receiver-->
<!--            android:name=".receivers.VISHTECHNO_BootUpReceiver"-->
<!--            android:enabled="true"-->
<!--            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
        <receiver android:name=".services.BootCompletedReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="99999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>
        <service
            android:name=".services.AfterBootService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".services.VISHTECHNO_FloatWidgetService"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false"
            android:foregroundServiceType="mediaProjection" />
        <service
            android:name=".services.ScreenRecord_Icon"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false"
            android:foregroundServiceType="mediaProjection" />
    </application>
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>